        body {
            font-family: 'Courier New', Courier, monospace;
            margin: 40px;
            background-color: #97AFBD;
        }
        h1, h2 {
            text-align: center;
        }
        .chart-container {
            width: 80%;
            margin: 40px auto;
            background: white;
            padding: 20px;
            border-radius: 8px;
        }

.navbar {
  background-color: #0f172a; /* donker blauw */
  padding: 15px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: #e5e7eb;
  text-decoration: none;
  font-size: 1rem;
  position: relative;
  transition: color 0.3s ease;
}

/* Hover effect */
.nav-links a:hover {
  color: #38bdf8;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background-color: #38bdf8;
  transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}
